[submodule "bundle/SnipMate"]
	path = bundle/SnipMate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/EasyMotion"]
	path = bundle/EasyMotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/Surround"]
	path = bundle/Surround
	url = git://github.com/tpope/vim-surround.git
